@using ICDE.Lib.Dto.Cursus
@model List<CursusDto>
@{
    ViewData["Title"] = "Bekijk cursussen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>cursussen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <h2> Maak cursus </h2>
        <form method="post" enctype="multipart/form-data" asp-action="MaakCursus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Naam" class="control-label">Naam</label>
                <input name="Naam" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Beschrijving" class="control-label">Beschrijving</label>
                <input name="Beschrijving" class="form-control" />
            </div>
            <div class="form-group">
                <label for="CursusMateriaal" class="control-label">CursusMateriaal</label>
                <input name="CursusMateriaal" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Maak" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h2> Cursussen </h2>
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Beschrijving</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Naam</td>
                            <td>@item.Beschrijving</td>
                            <td><a href="/auteur/cursus/get/@item.GroupId">Bekijk</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>Er zijn geen cursussen om te bekijken!</h3>
        }
    </div>

</div>
