@{
    ViewData["Title"] = "Bad request";
}

<h1>400 Bad request</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<p>
    You've entered wrong input and this has caused errors.
    <a href="/">return home.</a>
</p>
