@{
    ViewData["Title"] = "Not found";
}

<h1>404 Not found</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<p>
    You're trying to access an entity which does not exist!
    <a href="/">return home.</a>
</p>
