@using System.Security.Claims
@using ICDE.Lib.Domain.User
@using ICDE.Web.ViewHelper
@model ICDE.Web.Models.Authentication.LoginViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var role = ClaimsParser.GetUserRole(User.Identity);

}

<h1>Home</h1>

<h4>Hallo @role</h4>
<hr />

@if (role == UserRole.Auteur)
{
    <div class="row">
        <div class="col-md-4">
            <h1> Opdrachten </h1>
            <p><a href="auteur/opdracht/bekijkalle">Bekijk alle opdrachten</a></p>
            <p><a href="auteur/opdracht/maak">Maak opdracht</a></p>
        </div>
        <div class="col-md-4">
            <h1> Leeruitkomsten </h1>
            <p><a href="auteur/leeruitkomst/bekijkalle">Bekijk alle leeruitkomsten</a></p>
            <p><a href="auteur/leeruitkomst/maak">Maak leeruitkomst</a></p>
        </div>
        <div class="col-md-4">
            <h1> Lessen </h1>
            <p><a href="auteur/les">Lessen</a></p>
        </div>
        <div class="col-md-4">
            <h1> Vakken </h1>
            <p><a href="auteur/vak">Vakken</a></p>
        </div>
        <div class="col-md-4">
            <h1> Opleidingen </h1>
            <p><a href="auteur/opleiding/index">Opleidingen</a></p>
        </div>
        <div class="col-md-4">
            <h1> Cursus </h1>
            <p><a href="auteur/cursus/index">Cursussen</a></p>
        </div>
        <div class="col-md-4">
            <h1> Planning </h1>
            <p><a href="auteur/planning/index">Plannings</a></p>
        </div>
        <div class="col-md-4">
            <h1> BeoordelingsCriterea </h1>
            <p><a href="auteur/criterea/index">BeoordelingsCritereas</a></p>
        </div>
        <div class="col-md-4">
            <h1> Rapportage </h1>
            <p><a href="auteur/rapportage/index">Rapportages</a></p>
        </div>
    </div>
}
else if (role == UserRole.Docent)
{
    <div class="row">
        <div class="col-md-4">
            <h1> Opdrachten </h1>
            <p><a href="/docent/opdracht/index">Opdrachten</a></p>
        </div>
    </div>
}
else if (role == UserRole.Student)
{
    <div class="row">
        <div class="col-md-4">
            <h1> Opdrachten </h1>
            <p><a href="/student/opdracht/index">Opdrachten</a></p>
        </div>
        <div class="col-md-4">
            <h1> Cijfers </h1>
            <p><a href="/student/cijfer/index">Cijfers</a></p>
        </div>
        <div class="col-md-4">
            <h1> Planning </h1>
            <p><a href="/student/planning/index">Planning</a></p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <p><a href="/auth/login">Login</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p><a href="/auth/register">Registreer</a></p>
        </div>
    </div>
}
