@model ICDE.Web.Models.Authentication.LoginViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home</h1>

<h4>Home</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h1> Opdrachten </h1>
        <p><a href="/opdrachten/bekijkalle">Bekijk alle opdrachten</a></p>
        <p><a href="/opdrachten/maak">Maak opdracht</a></p>
    </div>
</div>