@model ICDE.Lib.Dto.Opdracht.MaakOpdrachtDto

@{
    ViewData["Title"] = "Maak opdracht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Maak opdracht</h1>

<h4>Maak opdracht</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="MaakOpdracht">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div>
                <label>Is toets:</label>
                <div>
                    <input type="radio" asp-for="IsToets" value="true" />
                    <label for="IsToets">Yes</label>
                </div>
                <div>
                    <input type="radio" asp-for="IsToets" value="false" />
                    <label for="IsToets">No</label>
                </div>
                <span asp-validation-for="IsToets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

