@model ICDE.Web.Models.Authentication.RegisterViewModel
@using ICDE.Web.Models.Authentication

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-danger" role="alert">
                @Model.Message
            </div>
        }
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <select asp-for="Role">
                <option selected="selected" value="">Selecteer een rol</option>
                <option value="Docent">Docent</option>
                <option value="Student">Student</option>
                <option value="Auteur">Auteur</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>