@model List<ICDE.Lib.Dto.Leeruitkomst.LeeruitkomstDto>

@{
    ViewData["Title"] = "Bekijk leeruitkomsten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bekijk leeruitkomsten</h1>

<h4>Bekijk leeruitkomsten</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Beschrijving</th>                    
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Naam</td>
                        <td>@item.Beschrijving</td>
                        <td><a href="/leeruitkomst/bekijk/@item.GroupId">Bekijk</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

