@model ICDE.Lib.Dto.Opdracht.OpdrachtBeoordelingDto

@{
    ViewData["Title"] = "Beoordeel opdracht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Beoordeel opdracht</h1>

<h4>Beoordeel opdracht</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="BeoordeelOpdracht">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input value="@Model.InzendingId" asp-for="InzendingId" type="text" hidden />
            <label asp-for="Beoordeling" class="control-label"></label>
            <input type="number" asp-for="Beoordeling" class="form-control" />
            <span asp-validation-for="Beoordeling" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Feedback" class="control-label"></label>
                <input asp-for="Feedback" class="form-control" />
                <span asp-validation-for="Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

